node_modules/
apps/api/src/infrastructure/persistence/prisma/generated/
.next/
dist/
build/
coverage/
*.tsbuildinfo
next-env.d.ts
*.log
.env
.env.*
!.env.example
.local/
creovexa-back/
creovexa-front/
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
